.container {
    margin: 0px;
    padding: 0px;
    background: magenta;
    display: grid;
    width: 100%;
}

.navTitleContainer {


}

.navTitle {

}

.navMenuContainer {

    align-self: center;
    justify-self: flex-start;
}

.navMenuItem {

}